*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    
}


.wellcome {
    height: 100vh;
    width: 100vw;
    display: block;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('./img/bgpraia.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
}

.wellcomeMsg {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    color: #f3f5f3;
    text-align: center;
}

.wellcomeMsg .headTag {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 15px;
    text-transform: uppercase;
}

.wellcomeMsg .subTag,
.sectionHead {
    font-size: 20px;
    padding: 25px 0;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 1.5px;
}

section {
    display: block;
    padding: 40px 0;
    width: 100%;
}

section:nth-child(even) {
    background-color: #f3f5f3;
}

section:nth-child(odd) {
    background-color: #f3f5f3;
}

.sectionHead {
    text-align: center;
    font-size: 40px;
    margin: 25px 0;
    padding: 0;
    font-weight: bold;
}

/* Referenciando classes inexistentes - removido */

.sectionSubHead {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 1.5px;
    margin-bottom: 5px;
    margin-top: 32px;
}

.sectionSubSubHead{
    font-size: 22px;
    letter-spacing: 1px;
    word-spacing: 1.5px;
    margin-bottom: 32px;
    margin-top: 32px;
}

.parallex-section {
    margin: 0;
    padding: 0;
}

.parallex {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
    display: block;
    height: 40vh;
    width: 100vw;
}

#parallex-set-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./img/bgpraia.png');
}

#parallex-set-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./img/bgpraia.png');
}

#parallex-set-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./img/bgpraia.png');
}

/* Referenciando classes inexistentes - removido */

.card-img-top {
    max-height: 360px;
}
.card {
    max-width: 360px;
    margin: 15px 0;
    cursor: auto;
    box-shadow: 9px 9px 16px 0px rgba(0, 0, 0, 0.25);
}

.tema button {
    align-self: flex-end;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400px;
    padding: 8px 16px;
    background: #18121b;
    color: #f3f5f3;
    border-radius: 20px;
    border-color: #f3f5f3;
  }

  div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.dark {
    background-color: #87b6a7;
  }
  
  .dark .wellcome {
    height: 100vh;
    width: 100vw;
    display: block;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('./img/bgmar.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
}
  
  .dark #parallex-set-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('./img/bgmar.png');
}

.dark #parallex-set-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('./img/bgmar.png');
}

.dark #parallex-set-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('./img/bgmar.png');
}

.dark section {
    display: block;
    padding: 40px 0;
    width: 100%;
}

.dark section:nth-child(even) {
    background-color: #002a32;
    color: #f3f5f3;
}

section:nth-child(odd) {
    background-color: #002a32;
    color: #f3f5f3;
}

.dark footer {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #002a32;
    color: #f3f5f3;
    z-index: 100;
    text-align: right;
}

.dark .tema button {
    background: #002a32;
    color: #fefee3;
    border: 2px solid #fefee3;
  }
  

footer {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #f5f5f5;
    z-index: 100;
    text-align: right;
}